<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="logo">GreenSpace</div>
      <div class="header-center-icon">🌍</div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/static/green_spaces_interactive_map_west_midlands.html"
              >West Midlands</a
            >
          </li>
          <li>
            <a href="/static/green_spaces_interactive_map_staffordshire.html"
              >Staffordshire</a
            >
          </li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="content-wrapper">
        <div class="card">
          <h1>Meet the Team</h1>
          <p>Connect with us on LinkedIn:</p>
          <div class="team-grid">
            <div class="team-member">
              <a
                href="https://www.linkedin.com/in/mohammed-amir-khan-200758227/"
                target="_blank"
                >Mohammed Amir Khan</a
              >
            </div>
            <div class="team-member">
              <a
                href="https://www.linkedin.com/in/adnan-gul-08806a351/"
                target="_blank"
                >Mohammed Adnan Gul</a
              >
            </div>
            <div class="team-member">
              <a
                href="https://www.linkedin.com/in/layton-woods-85b62134b/"
                target="_blank"
                >Layton Woods</a
              >
            </div>
            <div class="team-member">
              <a href="N/A" target="_blank">Mohammed Chowdhury</a>
            </div>
            <div class="team-member">
              <a
                href="https://www.linkedin.com/in/mohammed-chowdhury-432415376/"
                target="_blank"
                >Hamzah Abur Rahman</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>Data Source: OpenStreetMaps | Powered by GitHub</footer>
  </body>
</html>
