<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenSpace</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="logo">GreenSpace</div>
      <div class="header-center-icon">🌍</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li>
            <a href="/static/green_spaces_interactive_map_west_midlands.html"
              >West Midlands</a
            >
          </li>
          <li>
            <a href="/static/green_spaces_interactive_map_staffordshire.html"
              >Staffordshire</a
            >
          </li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="content-wrapper">
        <div class="column column-left">
          <div class="hero-title">
            <h1>Introducing<br /><span id="greenspace">GreenSpace</span>.</h1>
          </div>

          <div class="card">
            <h2>How to use the Map</h2>
            <p>
              You can navigate through the map via your cursor and click and
              dragging the cursor around the map.
            </p>
            <p>
              You can see the area in which is occupied with green land via a
              look through the map on the highlighted areas in green.
            </p>
          </div>

          <div class="card gif-placeholder"></div>
        </div>

        <div class="column column-right">
          <div class="card">
            <h2>Who are we?</h2>
            <p>
              Our website aims to inform you about the green land within the
              urban areas of England and consist of analysis of different lands
              percentage (that consists of green land) and the comparison
              between them.
            </p>
          </div>

          <div class="card team-box">
            <div class="card team-box">
              <h2>Sustainability Goals</h2>
              <p>
                SDG 11 (Sustainable Cities and Communities): <br /><br />
                Directly measures and visualizes progress toward Target 11.7
                (universal access to green space) and provides data for
                resilient city planning. <br />
                <br /><br />SDG 3 (Good Health and Well-being): <br /><br />
                Provides the data foundation for policy interventions that
                improve mental and physical health by increasing accessible
                natural environments.<br />
                <br /><br />SDG 15 (Life on Land): <br /><br />
                Supports the preservation and creation of urban ecosystems and
                encourages biodiversity within cities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>Data Source: OpenStreetMaps | Powered by GitHub</footer>
  </body>
</html>
